<a href="https://colab.research.google.com/github/natochres/Analise-de-dados/blob/main/Amostragem_pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Algoritimos de amostragem**

In [1]:
import pandas as pd
import random as rd
import numpy as np

In [2]:
dataset = pd.read_csv("census.csv", sep=";")

In [3]:
dataset.head(5)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
def amostragem_sistematica(dataset, amostras):
  intervalo = len(dataset) //100
  rd.seed(1)
  inicio = rd.randint(0, intervalo)
  indices = np.arange(inicio, len(dataset), step = intervalo )
  amostragem_sistematica = dataset.iloc[indices]
  return amostragem_sistematica

In [5]:
df_amostra_sistematica = amostragem_sistematica(dataset, 100)
df_amostra_sistematica.shape

(100, 15)

In [6]:
df_amostra_sistematica.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K

** Exemplo de amostragem por grupos **

In [10]:
#Preparando as variaveis para o grupos do data set
grupos = []
id_grupo = 0
contagem = 0

for _ in dataset.iterrows():
  grupos.append(id_grupo)
  contagem += 1
  if contagem > len(dataset)/10:
    contagem = 0
    id_grupo += 1

In [9]:
dataset['grupo'] = grupos



**Amostra de reservatório**

*Teoria:*

Utilidade: DataStream 
- Itens com tamanho desconhecido que pode ser acessado somente uma vez
- Dados continuos chegando da Web. (Avaliação de AD's?) 
- Algoritimo para sortear um stream de dados, porém, cada item deve possuir a mesma probabilidade de seleção

In [11]:
#implementação do código.
def amostragem_reservatorio(dataset, amostras):
  stream = [] 
  for i in range(len(dataset)):
    stream.append(i) # Cria uma lista com elementos de id do dataset

  i = 0
  tamanho = len(dataset) #define o tamanho da amostra

  reservatorio = [0] * amostras # multiplica os elementos do reservatório pela amostra
  for i in range(amostras):
    reservatorio[i] = stream[i] #adiciona as amostrar dentro da lista de reservatório

  while i < tamanho:
    j = rd.randrange(i + 1) 
    if j < amostras:
      reservatorio[j] = stream[i]
    i += 1 #enquanto i for menor que o tamanho do dataset, ele irá continuar adicionando itens. 
  return dataset.iloc[reservatorio]

In [15]:
df_amostragem_reservatorio =  amostragem_reservatorio(dataset, 100)
df_amostragem_reservatorio.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
32110,33,Private,263561,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,60,United-States,<=50K,9
8515,18,Private,39529,12th,8,Never-married,Other-service,Own-child,White,Female,0,0,32,United-States,<=50K,2

**Comparativo entre as amostras**

Objetivo é ver como fica o comportamento com as tecnicas aplicas

In [16]:
dataset['age'].mean()

38.58164675532078

In [17]:
df_amostra_sistematica['age'].mean()

37.57

In [18]:
df_amostragem_reservatorio['age'].mean()

38.57