<h2>Coleta de dados estruturados</h2>
<p> Vamos coletar uma lista de arquivos e compilar em um único no python e exportar para csv.

In [47]:
#import's das bib's
import pandas as pd
import os

In [48]:
DIR = "D:\\ProjetosMBA\\Datasets\\vendas_veiculos\\"

In [49]:
lista_df = []
lista_path = os.listdir(DIR) #CRIA A LISTA DE DIRETÓRIOS COM OS ARQUIVOS QUE TEM NO DIRETÓRIO ACIMA SETADO.

In [50]:
lista_path[:5]

['2020-01-12.csv',
 '2020-02-11.csv',
 '2020-02-12.csv',
 '2020-03-11.csv',
 '2020-03-12.csv']

In [51]:
lista_df = []
for arquivo in lista_path:
    local_arquivo = os.path.join(DIR, arquivo) #ele faz a junção da string contida em DIR mais a lista de arquivos contido na lista_path
    df = pd.read_csv(local_arquivo, sep=';', encoding='latin-1') #ainda no looping (FOR) ele vai ler cada string gerada no comando acima
    lista_df.append(df)
df_vendas = pd.concat(lista_df) #atribui os dados coletados em um dataframe.

In [58]:
df_vendas[:10]

,cod_pessoa,nome,genero,data_nascimento,data_compra,fabricante,modelo,valor
0,1016,Maria Clara,Feminino,1986-11-21,2020-01-12,Fiat,Uno Attractive 1.0,50004
0,1061,Bianca,Feminino,1989-02-21,2020-02-11,Fiat,Mobi Easy 1.5,40449
1,1086,Analu,Feminino,1977-08-05,2020-02-11,Volkswagen,Fox Connect 1.6,57640
2,1117,Samuel,Masculino,1989-11-22,2020-02-11,Fiat,Uno Attractive 1.0,50004
3,1139,Cauã,Masculino,1961-09-14,2020-02-11,Lifan,530 Talent 1.5,43990
0,1118,Enzo Gabriel,Masculino,1984-02-15,2020-02-12,Ford,Ka S 1.0,51990
0,1048,Maria-,Feminino,1992-09-18,2020-03-11,Hyndai,Hyundai HB20 1.0 Sense,49590
1,1050,Ana Laura,Feminino,1997-10-15,2020-03-11,Hyndai,Hyundai HB20 1.0 Sense,49590
2,1075,Mariah,Feminino,1969-11-05,2020-03-11,Volkswagen,Gol 1.0,54150
3,1092,Ana Vitória,Feminino,1963-12-05,2020-03-11,Hyndai,Hyundai HB20 1.0 Sense,49590

In [60]:
df_vendas.to_csv(DIR + 'vendas_por_data.csv', sep=';', encoding='latin-1', index=False) #Exportando o dataframe para csv no diretório contido em DIR.

<h2> Armazenando no banco de dados</h2>
import's das bibliotecas e configuração da conexão do DB

In [7]:
import MySQLdb
import sqlalchemy

In [55]:
user='root'
password='1234'
host='localhost'
database='coletaigti'


conexao = f'mysql://{user}:{password}@{host}/{database}'
conexao

'mysql://root:1234@localhost/coletaigti'

In [56]:
from sqlalchemy import create_engine

In [57]:
engine = sqlalchemy.create_engine(conexao, echo=True)
conn = engine.connect()

2023-02-06 21:13:46,305 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-02-06 21:13:46,306 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-06 21:13:46,308 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-02-06 21:13:46,310 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-06 21:13:46,312 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-02-06 21:13:46,313 INFO sqlalchemy.engine.Engine [raw sql] ()

In [11]:
df_pessoas = df_vendas[['cod_pessoa', 'nome', 'genero', 'data_nascimento']].drop_duplicates()
df_modelos = df_vendas[['modelo', 'fabricante']].drop_duplicates()
fabricantes = list(df_vendas.fabricante.unique())

In [12]:
df_pessoas[:5]

   cod_pessoa         nome     genero data_nascimento
0        1016  Maria Clara   Feminino      1986-11-21
0        1061       Bianca   Feminino      1989-02-21
1        1086        Analu   Feminino      1977-08-05
2        1117       Samuel  Masculino      1989-11-22
3        1139         Cauã  Masculino      1961-09-14

In [13]:
df_modelos[:5]

                modelo  fabricante
0   Uno Attractive 1.0        Fiat
0        Mobi Easy 1.5        Fiat
1      Fox Connect 1.6  Volkswagen
3       530 Talent 1.5       Lifan
0             Ka S 1.0        Ford

In [14]:
fabricantes

['Fiat', 'Volkswagen', 'Lifan', 'Ford', 'Hyndai', 'Renault']

In [15]:
for pessoa in df_pessoas[:3].itertuples():
    print(pessoa)

Pandas(Index=0, cod_pessoa=1016, nome='Maria Clara', genero='Feminino', data_nascimento='1986-11-21')
Pandas(Index=0, cod_pessoa=1061, nome='Bianca', genero='Feminino', data_nascimento='1989-02-21')
Pandas(Index=1, cod_pessoa=1086, nome='Analu', genero='Feminino', data_nascimento='1977-08-05')

In [16]:
from sqlalchemy import text

In [17]:
for pessoa in df_pessoas.itertuples():
    cod_pessoa =  pessoa.cod_pessoa
    nome = pessoa.nome
    genero = pessoa.genero
    data_nascimento = str(pessoa.data_nascimento)
    try:
        
        query = f""" INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento) 
                VALUES ('{cod_pessoa}', '{nome}', '{genero}', '{data_nascimento}')"""
        conn.execute(text(query))
        conn.commit()
        print(f'Registro incluído com sucesso: {nome}')
    except Exception as e:
        print(f'Não foi possível add: {nome}. Erro foi encontrado: {e}')

2023-02-06 20:40:23,213 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,215 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1016', 'Maria Clara', 'Feminino', '1986-11-21')
2023-02-06 20:40:23,217 INFO sqlalchemy.engine.Engine [generated in 0.00341s] ()
2023-02-06 20:40:23,219 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Clara
2023-02-06 20:40:23,224 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,225 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1061', 'Bianca', 'Feminino', '1989-02-21')
2023-02-06 20:40:23,226 INFO sqlalchemy.engine.Engine [generated in 0.00239s] ()
2023-02-06 20:40:23,228 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Bianca
2023-02-06 20:40:23,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,232 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1086', 'Analu', 'Feminino', '1977-08-05')
2023-02-06 20:40:23,234 INFO sqlalchemy.engine.Engine [generated in 0.00220s] ()
2023-02-06 20:40:23,234 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Analu
2023-02-06 20:40:23,234 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,234 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1117', 'Samuel', 'Masculino', '1989-11-22')
2023-02-06 20:40:23,234 INFO sqlalchemy.engine.Engine [generated in 0.00288s] ()
2023-02-06 20:40:23,245 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Samuel
2023-02-06 20:40:23,249 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,249 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1139', 'Cauã', 'Masculino', '1961-09-14')
2023-02-06 20:40:23,249 INFO sqlalchemy.engine.Engine [generated in 0.00230s] ()
2023-02-06 20:40:23,249 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Cauã
2023-02-06 20:40:23,249 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,249 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1118', 'Enzo Gabriel', 'Masculino', '1984-02-15')
2023-02-06 20:40:23,260 INFO sqlalchemy.engine.Engine [generated in 0.00270s] ()
2023-02-06 20:40:23,261 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Enzo Gabriel
2023-02-06 20:40:23,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,261 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1048', 'Maria-', 'Feminino', '1992-09-18')
2023-02-06 20:40:23,261 INFO sqlalchemy.engine.Engine [generated in 0.00197s] ()
2023-02-06 20:40:23,261 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria-
2023-02-06 20:40:23,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,276 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1050', 'Ana Laura', 'Feminino', '1997-10-15')
2023-02-06 20:40:23,277 INFO sqlalchemy.engine.Engine [generated in 0.00371s] ()
2023-02-06 20:40:23,277 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Laura
2023-02-06 20:40:23,277 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,277 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1075', 'Mariah', 'Feminino', '1969-11-05')
2023-02-06 20:40:23,277 INFO sqlalchemy.engine.Engine [generated in 0.00198s] ()
2023-02-06 20:40:23,294 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Mariah
2023-02-06 20:40:23,296 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,296 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1092', 'Ana Vitória', 'Feminino', '1963-12-05')
2023-02-06 20:40:23,296 INFO sqlalchemy.engine.Engine [generated in 0.00257s] ()
2023-02-06 20:40:23,296 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Vitória
2023-02-06 20:40:23,296 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,296 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1193', 'José', 'Masculino', '1974-01-03')
2023-02-06 20:40:23,296 INFO sqlalchemy.engine.Engine [generated in 0.00263s] ()
2023-02-06 20:40:23,313 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: José
2023-02-06 20:40:23,317 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,318 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1000', 'Alice', 'Feminino', '1992-06-20')
2023-02-06 20:40:23,320 INFO sqlalchemy.engine.Engine [generated in 0.00294s] ()
2023-02-06 20:40:23,322 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Alice
2023-02-06 20:40:23,326 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,328 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1019', 'Lara', 'Feminino', '1966-05-11')
2023-02-06 20:40:23,328 INFO sqlalchemy.engine.Engine [generated in 0.00353s] ()
2023-02-06 20:40:23,328 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lara
2023-02-06 20:40:23,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,328 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1096', 'Luana', 'Feminino', '1969-01-24')
2023-02-06 20:40:23,328 INFO sqlalchemy.engine.Engine [generated in 0.00414s] ()
2023-02-06 20:40:23,328 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luana
2023-02-06 20:40:23,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,344 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1178', 'Martin', 'Masculino', '1967-06-01')
2023-02-06 20:40:23,345 INFO sqlalchemy.engine.Engine [generated in 0.00269s] ()
2023-02-06 20:40:23,346 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Martin
2023-02-06 20:40:23,350 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,351 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1024', 'Ana Júlia', 'Feminino', '1968-05-27')
2023-02-06 20:40:23,351 INFO sqlalchemy.engine.Engine [generated in 0.00298s] ()
2023-02-06 20:40:23,351 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Júlia
2023-02-06 20:40:23,360 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,362 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1141', 'Vicente', 'Masculino', '1972-08-30')
2023-02-06 20:40:23,363 INFO sqlalchemy.engine.Engine [generated in 0.00269s] ()
2023-02-06 20:40:23,364 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Vicente
2023-02-06 20:40:23,368 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,369 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1111', 'Lucas', 'Masculino', '1970-09-27')
2023-02-06 20:40:23,369 INFO sqlalchemy.engine.Engine [generated in 0.00317s] ()
2023-02-06 20:40:23,369 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lucas
2023-02-06 20:40:23,369 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,377 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1140', 'Antônio', 'Masculino', '1991-06-22')
2023-02-06 20:40:23,378 INFO sqlalchemy.engine.Engine [generated in 0.00262s] ()

2023-02-06 20:40:23,380 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Antônio
2023-02-06 20:40:23,382 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,384 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1047', 'Letícia', 'Feminino', '1996-04-02')
2023-02-06 20:40:23,384 INFO sqlalchemy.engine.Engine [generated in 0.00293s] ()
2023-02-06 20:40:23,384 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Letícia
2023-02-06 20:40:23,384 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,384 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1169', 'Davi Luiz', 'Masculino', '1960-06-09')
2023-02-06 20:40:23,384 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()
2023-02-06 20:40:23,394 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Davi Luiz
2023-02-06 20:40:23,397 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,398 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1028', 'Yasmin', 'Feminino', '1953-09-07')
2023-02-06 20:40:23,398 INFO sqlalchemy.engine.Engine [generated in 0.00188s] ()
2023-02-06 20:40:23,400 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Yasmin
2023-02-06 20:40:23,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,402 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1105', 'Lorenzo', 'Masculino', '1961-05-14')
2023-02-06 20:40:23,402 INFO sqlalchemy.engine.Engine [generated in 0.00228s] ()
2023-02-06 20:40:23,402 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lorenzo
2023-02-06 20:40:23,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,412 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1040', 'Nicole', 'Feminino', '1982-02-28')
2023-02-06 20:40:23,412 INFO sqlalchemy.engine.Engine [generated in 0.00208s] ()
2023-02-06 20:40:23,414 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Nicole
2023-02-06 20:40:23,414 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,414 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1123', 'Pedro Henrique', 'Masculino', '1975-01-21')
2023-02-06 20:40:23,414 INFO sqlalchemy.engine.Engine [generated in 0.00198s] ()
2023-02-06 20:40:23,414 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Pedro Henrique
2023-02-06 20:40:23,414 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,414 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1143', 'Gael', 'Masculino', '1975-08-24')
2023-02-06 20:40:23,426 INFO sqlalchemy.engine.Engine [generated in 0.00227s] ()
2023-02-06 20:40:23,429 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Gael
2023-02-06 20:40:23,432 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,432 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1155', 'Kaique', 'Masculino', '1989-01-27')
2023-02-06 20:40:23,432 INFO sqlalchemy.engine.Engine [generated in 0.00189s] ()
2023-02-06 20:40:23,432 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Kaique
2023-02-06 20:40:23,432 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,432 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1094', 'Ana Liz', 'Feminino', '1992-02-15')
2023-02-06 20:40:23,432 INFO sqlalchemy.engine.Engine [generated in 0.00178s] ()
2023-02-06 20:40:23,445 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Liz
2023-02-06 20:40:23,447 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,449 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1166', 'Luiz Felipe', 'Masculino', '1960-07-25')
2023-02-06 20:40:23,449 INFO sqlalchemy.engine.Engine [generated in 0.00384s] ()
2023-02-06 20:40:23,449 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luiz Felipe
2023-02-06 20:40:23,449 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,449 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1058', 'Maria Valentina', 'Feminino', '1958-01-07')
2023-02-06 20:40:23,501 INFO sqlalchemy.engine.Engine [generated in 0.04526s] ()
2023-02-06 20:40:23,503 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Valentina
2023-02-06 20:40:23,505 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,506 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1107', 'Pedro', 'Masculino', '1964-02-08')
2023-02-06 20:40:23,507 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ()
2023-02-06 20:40:23,509 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Pedro
2023-02-06 20:40:23,511 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,513 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1157', 'Augusto', 'Masculino', '1958-05-25')
2023-02-06 20:40:23,514 INFO sqlalchemy.engine.Engine [generated in 0.00227s] ()
2023-02-06 20:40:23,515 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Augusto
2023-02-06 20:40:23,517 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,517 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1161', 'Thiago', 'Masculino', '1978-07-09')
2023-02-06 20:40:23,517 INFO sqlalchemy.engine.Engine [generated in 0.00239s] ()
2023-02-06 20:40:23,517 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Thiago
2023-02-06 20:40:23,526 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,527 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1018', 'Eloá', 'Feminino', '1979-03-30')
2023-02-06 20:40:23,528 INFO sqlalchemy.engine.Engine [generated in 0.00178s] ()
2023-02-06 20:40:23,529 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Eloá
2023-02-06 20:40:23,533 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,534 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1062', 'Larissa', 'Feminino', '1971-01-20')
2023-02-06 20:40:23,534 INFO sqlalchemy.engine.Engine [generated in 0.00241s] ()
2023-02-06 20:40:23,534 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Larissa
2023-02-06 20:40:23,534 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,543 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1185', 'Enzo Miguel', 'Masculino', '1993-11-20')
2023-02-06 20:40:23,544 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ()
2023-02-06 20:40:23,546 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Enzo Miguel
2023-02-06 20:40:23,550 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,551 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1009', 'Luiza', 'Feminino', '1991-08-24')
2023-02-06 20:40:23,551 INFO sqlalchemy.engine.Engine [generated in 0.00277s] ()
2023-02-06 20:40:23,551 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luiza
2023-02-06 20:40:23,551 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,560 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1027', 'Melissa', 'Feminino', '1980-09-21')

2023-02-06 20:40:23,560 INFO sqlalchemy.engine.Engine [generated in 0.00223s] ()
2023-02-06 20:40:23,562 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Melissa
2023-02-06 20:40:23,565 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,565 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1129', 'Benício', 'Masculino', '1983-10-28')
2023-02-06 20:40:23,566 INFO sqlalchemy.engine.Engine [generated in 0.00163s] ()
2023-02-06 20:40:23,568 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Benício
2023-02-06 20:40:23,570 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,570 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1188', 'Luiz Otávio', 'Masculino', '1970-02-25')
2023-02-06 20:40:23,570 INFO sqlalchemy.engine.Engine [generated in 0.00264s] ()
2023-02-06 20:40:23,570 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luiz Otávio
2023-02-06 20:40:23,579 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,579 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1046', 'Agatha', 'Feminino', '1969-04-23')
2023-02-06 20:40:23,580 INFO sqlalchemy.engine.Engine [generated in 0.00174s] ()
2023-02-06 20:40:23,582 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Agatha
2023-02-06 20:40:23,584 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,584 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1101', 'Arthur', 'Masculino', '1992-07-11')
2023-02-06 20:40:23,584 INFO sqlalchemy.engine.Engine [generated in 0.00336s] ()
2023-02-06 20:40:23,584 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Arthur
2023-02-06 20:40:23,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,594 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1121', 'Gustavo', 'Masculino', '1972-04-26')
2023-02-06 20:40:23,595 INFO sqlalchemy.engine.Engine [generated in 0.00222s] ()
2023-02-06 20:40:23,597 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Gustavo
2023-02-06 20:40:23,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,597 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1057', 'Emilly', 'Feminino', '1950-07-30')
2023-02-06 20:40:23,597 INFO sqlalchemy.engine.Engine [generated in 0.00192s] ()
2023-02-06 20:40:23,597 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Emilly
2023-02-06 20:40:23,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,597 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1134', 'Bryan', 'Masculino', '1977-11-24')
2023-02-06 20:40:23,609 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()
2023-02-06 20:40:23,610 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Bryan
2023-02-06 20:40:23,613 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,615 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1029', 'Maria Alice', 'Feminino', '1990-08-31')
2023-02-06 20:40:23,615 INFO sqlalchemy.engine.Engine [generated in 0.00267s] ()
2023-02-06 20:40:23,615 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Alice
2023-02-06 20:40:23,615 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,615 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1060', 'Maria Helena', 'Feminino', '1988-05-07')
2023-02-06 20:40:23,615 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ()
2023-02-06 20:40:23,615 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Helena
2023-02-06 20:40:23,628 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,628 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1030', 'Isabelly', 'Feminino', '1977-09-13')
2023-02-06 20:40:23,629 INFO sqlalchemy.engine.Engine [generated in 0.00150s] ()
2023-02-06 20:40:23,630 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Isabelly
2023-02-06 20:40:23,632 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,632 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1182', 'Arthur Gabriel', 'Masculino', '1977-03-11')
2023-02-06 20:40:23,632 INFO sqlalchemy.engine.Engine [generated in 0.00271s] ()
2023-02-06 20:40:23,632 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Arthur Gabriel
2023-02-06 20:40:23,632 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,632 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1051', 'Catarina', 'Feminino', '1999-07-10')
2023-02-06 20:40:23,643 INFO sqlalchemy.engine.Engine [generated in 0.00191s] ()
2023-02-06 20:40:23,645 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Catarina
2023-02-06 20:40:23,648 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,649 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1128', 'Isaac', 'Masculino', '1962-07-12')
2023-02-06 20:40:23,649 INFO sqlalchemy.engine.Engine [generated in 0.00375s] ()
2023-02-06 20:40:23,649 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Isaac
2023-02-06 20:40:23,649 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,649 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1187', 'Arthur Henrique', 'Masculino', '1950-08-23')
2023-02-06 20:40:23,649 INFO sqlalchemy.engine.Engine [generated in 0.00192s] ()
2023-02-06 20:40:23,659 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Arthur Henrique
2023-02-06 20:40:23,662 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,663 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1063', 'Mirella', 'Feminino', '1972-03-11')
2023-02-06 20:40:23,663 INFO sqlalchemy.engine.Engine [generated in 0.00176s] ()
2023-02-06 20:40:23,666 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Mirella
2023-02-06 20:40:23,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,666 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1097', 'Antônia', 'Feminino', '1970-06-26')
2023-02-06 20:40:23,666 INFO sqlalchemy.engine.Engine [generated in 0.00193s] ()
2023-02-06 20:40:23,666 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Antônia
2023-02-06 20:40:23,677 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,678 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1104', 'Davi', 'Masculino', '1963-10-09')
2023-02-06 20:40:23,678 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ()
2023-02-06 20:40:23,680 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Davi
2023-02-06 20:40:23,683 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,685 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1146', 'Emanuel', 'Masculino', '1966-11-09')
2023-02-06 20:40:23,685 INFO sqlalchemy.engine.Engine [generated in 0.00327s] ()
2023-02-06 20:40:23,685 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Emanuel
2023-02-06 20:40:23,693 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2023-02-06 20:40:23,694 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1153', 'Luiz Miguel', 'Masculino', '1987-09-03')
2023-02-06 20:40:23,695 INFO sqlalchemy.engine.Engine [generated in 0.00192s] ()
2023-02-06 20:40:23,696 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luiz Miguel
2023-02-06 20:40:23,699 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,700 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1119', 'João Miguel', 'Masculino', '1986-03-18')
2023-02-06 20:40:23,700 INFO sqlalchemy.engine.Engine [generated in 0.00326s] ()
2023-02-06 20:40:23,700 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: João Miguel
2023-02-06 20:40:23,700 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,700 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1021', 'Isadora', 'Feminino', '1951-05-04')
2023-02-06 20:40:23,700 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ()
2023-02-06 20:40:23,710 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Isadora
2023-02-06 20:40:23,713 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,713 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1115', 'Rafael', 'Masculino', '1951-04-08')
2023-02-06 20:40:23,714 INFO sqlalchemy.engine.Engine [generated in 0.00141s] ()
2023-02-06 20:40:23,716 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Rafael
2023-02-06 20:40:23,718 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,718 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1144', 'Bento', 'Masculino', '1989-05-13')
2023-02-06 20:40:23,718 INFO sqlalchemy.engine.Engine [generated in 0.00271s] ()
2023-02-06 20:40:23,718 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Bento
2023-02-06 20:40:23,726 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,727 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1013', 'Giovanna', 'Feminino', '1997-12-13')
2023-02-06 20:40:23,728 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()
2023-02-06 20:40:23,730 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Giovanna
2023-02-06 20:40:23,731 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,731 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1160', 'Enrico', 'Masculino', '1969-11-01')
2023-02-06 20:40:23,731 INFO sqlalchemy.engine.Engine [generated in 0.00213s] ()
2023-02-06 20:40:23,731 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Enrico
2023-02-06 20:40:23,731 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,731 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1164', 'Thomas', 'Masculino', '1988-09-01')
2023-02-06 20:40:23,731 INFO sqlalchemy.engine.Engine [generated in 0.00171s] ()
2023-02-06 20:40:23,744 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Thomas
2023-02-06 20:40:23,747 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,747 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1184', 'Kauê', 'Masculino', '1952-03-14')
2023-02-06 20:40:23,747 INFO sqlalchemy.engine.Engine [generated in 0.00361s] ()
2023-02-06 20:40:23,747 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Kauê
2023-02-06 20:40:23,747 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,747 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1011', 'Lorena', 'Feminino', '1980-01-07')
2023-02-06 20:40:23,747 INFO sqlalchemy.engine.Engine [generated in 0.00197s] ()
2023-02-06 20:40:23,747 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lorena
2023-02-06 20:40:23,761 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,762 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1042', 'Isis', 'Feminino', '1963-07-12')
2023-02-06 20:40:23,763 INFO sqlalchemy.engine.Engine [generated in 0.00192s] ()
2023-02-06 20:40:23,765 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Isis
2023-02-06 20:40:23,768 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,768 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1103', 'Heitor', 'Masculino', '1962-05-22')
2023-02-06 20:40:23,768 INFO sqlalchemy.engine.Engine [generated in 0.00190s] ()
2023-02-06 20:40:23,768 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Heitor
2023-02-06 20:40:23,777 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,778 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1072', 'Ayla', 'Feminino', '1953-08-19')
2023-02-06 20:40:23,779 INFO sqlalchemy.engine.Engine [generated in 0.00210s] ()
2023-02-06 20:40:23,782 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ayla
2023-02-06 20:40:23,782 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,782 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1138', 'João', 'Masculino', '1957-04-04')
2023-02-06 20:40:23,782 INFO sqlalchemy.engine.Engine [generated in 0.00209s] ()
2023-02-06 20:40:23,782 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: João
2023-02-06 20:40:23,792 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,793 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1087', 'Amanda', 'Feminino', '1993-12-23')
2023-02-06 20:40:23,795 INFO sqlalchemy.engine.Engine [generated in 0.00223s] ()
2023-02-06 20:40:23,796 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Amanda
2023-02-06 20:40:23,800 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,800 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1089', 'Maria Isis', 'Feminino', '1970-11-23')
2023-02-06 20:40:23,800 INFO sqlalchemy.engine.Engine [generated in 0.00296s] ()
2023-02-06 20:40:23,800 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Isis
2023-02-06 20:40:23,809 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,811 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1127', 'João Pedro', 'Masculino', '1990-10-07')
2023-02-06 20:40:23,812 INFO sqlalchemy.engine.Engine [generated in 0.00230s] ()
2023-02-06 20:40:23,813 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: João Pedro
2023-02-06 20:40:23,816 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,816 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1172', 'Davi Miguel', 'Masculino', '1985-01-25')
2023-02-06 20:40:23,816 INFO sqlalchemy.engine.Engine [generated in 0.00288s] ()
2023-02-06 20:40:23,816 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Davi Miguel
2023-02-06 20:40:23,816 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,816 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1175', 'Luiz Henrique', 'Masculino', '1952-01-10')
2023-02-06 20:40:23,826 INFO sqlalchemy.engine.Engine [generated in 0.00193s] ()

2023-02-06 20:40:23,828 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luiz Henrique
2023-02-06 20:40:23,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,832 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1005', 'Isabella', 'Feminino', '1961-03-06')
2023-02-06 20:40:23,833 INFO sqlalchemy.engine.Engine [generated in 0.00192s] ()
2023-02-06 20:40:23,833 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Isabella
2023-02-06 20:40:23,833 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,833 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1070', 'Maya', 'Feminino', '1964-01-15')
2023-02-06 20:40:23,833 INFO sqlalchemy.engine.Engine [generated in 0.00205s] ()
2023-02-06 20:40:23,842 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maya
2023-02-06 20:40:23,845 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,846 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1076', 'Stella', 'Feminino', '1978-05-31')
2023-02-06 20:40:23,847 INFO sqlalchemy.engine.Engine [generated in 0.00190s] ()
2023-02-06 20:40:23,848 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Stella
2023-02-06 20:40:23,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,850 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1191', 'Lucas Gabriel', 'Masculino', '1976-06-25')
2023-02-06 20:40:23,850 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ()
2023-02-06 20:40:23,850 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lucas Gabriel
2023-02-06 20:40:23,859 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,860 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1066', 'Ana Sophia', 'Feminino', '1979-09-01')
2023-02-06 20:40:23,861 INFO sqlalchemy.engine.Engine [generated in 0.00214s] ()
2023-02-06 20:40:23,862 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Sophia
2023-02-06 20:40:23,865 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,866 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1137', 'Victor', 'Masculino', '1997-06-16')
2023-02-06 20:40:23,867 INFO sqlalchemy.engine.Engine [generated in 0.00264s] ()
2023-02-06 20:40:23,867 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Victor
2023-02-06 20:40:23,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,867 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1174', 'Pedro Miguel', 'Masculino', '1961-12-27')
2023-02-06 20:40:23,867 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()
2023-02-06 20:40:23,877 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Pedro Miguel
2023-02-06 20:40:23,880 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,880 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1020', 'Maria Júlia', 'Feminino', '1951-06-14')
2023-02-06 20:40:23,880 INFO sqlalchemy.engine.Engine [generated in 0.00363s] ()
2023-02-06 20:40:23,880 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Júlia
2023-02-06 20:40:23,880 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,880 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1067', 'Clarice', 'Feminino', '1964-07-08')
2023-02-06 20:40:23,880 INFO sqlalchemy.engine.Engine [generated in 0.00243s] ()
2023-02-06 20:40:23,880 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Clarice
2023-02-06 20:40:23,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,895 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1085', 'Malu', 'Feminino', '1969-06-24')
2023-02-06 20:40:23,896 INFO sqlalchemy.engine.Engine [generated in 0.00222s] ()
2023-02-06 20:40:23,898 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Malu
2023-02-06 20:40:23,898 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,898 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1052', 'Clara', 'Feminino', '1988-04-10')
2023-02-06 20:40:23,898 INFO sqlalchemy.engine.Engine [generated in 0.00201s] ()
2023-02-06 20:40:23,898 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Clara
2023-02-06 20:40:23,909 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,910 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1122', 'Murilo', 'Masculino', '1994-07-08')
2023-02-06 20:40:23,911 INFO sqlalchemy.engine.Engine [generated in 0.00171s] ()
2023-02-06 20:40:23,912 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Murilo
2023-02-06 20:40:23,916 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,916 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1192', 'André', 'Masculino', '1998-03-05')
2023-02-06 20:40:23,916 INFO sqlalchemy.engine.Engine [generated in 0.00291s] ()
2023-02-06 20:40:23,916 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: André
2023-02-06 20:40:23,916 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,916 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1156', 'Otávio', 'Masculino', '1992-08-02')
2023-02-06 20:40:23,916 INFO sqlalchemy.engine.Engine [generated in 0.00165s] ()
2023-02-06 20:40:23,927 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Otávio
2023-02-06 20:40:23,930 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,930 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1198', 'Miguel Henrique', 'Masculino', '1978-04-22')
2023-02-06 20:40:23,931 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ()
2023-02-06 20:40:23,935 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Miguel Henrique
2023-02-06 20:40:23,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,935 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1147', 'Vinícius', 'Masculino', '1965-04-13')
2023-02-06 20:40:23,935 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ()
2023-02-06 20:40:23,935 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Vinícius
2023-02-06 20:40:23,943 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,944 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1170', 'Nathan', 'Masculino', '1968-11-08')
2023-02-06 20:40:23,945 INFO sqlalchemy.engine.Engine [generated in 0.00176s] ()
2023-02-06 20:40:23,946 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Nathan
2023-02-06 20:40:23,949 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,949 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1195', 'Danilo', 'Masculino', '1961-03-29')
2023-02-06 20:40:23,949 INFO sqlalchemy.engine.Engine [generated in 0.00288s] ()
2023-02-06 20:40:23,949 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Danilo
2023-02-06 20:40:23,949 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,949 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1132', 'Leonardo', 'Masculino', '1988-12-28')

2023-02-06 20:40:23,959 INFO sqlalchemy.engine.Engine [generated in 0.00233s] ()
2023-02-06 20:40:23,961 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Leonardo
2023-02-06 20:40:23,963 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,964 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1071', 'Laís', 'Feminino', '1992-08-26')
2023-02-06 20:40:23,965 INFO sqlalchemy.engine.Engine [generated in 0.00180s] ()
2023-02-06 20:40:23,967 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Laís
2023-02-06 20:40:23,968 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,968 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1091', 'Heloise', 'Feminino', '1955-12-09')
2023-02-06 20:40:23,968 INFO sqlalchemy.engine.Engine [generated in 0.00246s] ()
2023-02-06 20:40:23,968 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Heloise
2023-02-06 20:40:23,979 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,979 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1112', 'Benjamin', 'Masculino', '1990-12-30')
2023-02-06 20:40:23,980 INFO sqlalchemy.engine.Engine [generated in 0.00173s] ()
2023-02-06 20:40:23,982 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Benjamin
2023-02-06 20:40:23,983 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,983 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1148', 'João Guilherme', 'Masculino', '1992-01-26')
2023-02-06 20:40:23,983 INFO sqlalchemy.engine.Engine [generated in 0.00197s] ()
2023-02-06 20:40:23,983 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: João Guilherme
2023-02-06 20:40:23,992 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,993 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1150', 'Noah', 'Masculino', '1975-05-24')
2023-02-06 20:40:23,994 INFO sqlalchemy.engine.Engine [generated in 0.00202s] ()
2023-02-06 20:40:23,995 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Noah
2023-02-06 20:40:23,998 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:23,999 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1162', 'Ian', 'Masculino', '1981-05-03')
2023-02-06 20:40:24,001 INFO sqlalchemy.engine.Engine [generated in 0.00214s] ()
2023-02-06 20:40:24,001 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ian
2023-02-06 20:40:24,001 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,001 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1113', 'Nicolas', 'Masculino', '1978-06-26')
2023-02-06 20:40:24,009 INFO sqlalchemy.engine.Engine [generated in 0.00176s] ()
2023-02-06 20:40:24,010 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Nicolas
2023-02-06 20:40:24,013 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,013 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1163', 'Victor Hugo', 'Masculino', '1970-08-05')
2023-02-06 20:40:24,013 INFO sqlalchemy.engine.Engine [generated in 0.00331s] ()
2023-02-06 20:40:24,013 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Victor Hugo
2023-02-06 20:40:24,013 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,013 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1181', 'Luiz Gustavo', 'Masculino', '1952-12-01')
2023-02-06 20:40:24,013 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ()
2023-02-06 20:40:24,013 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luiz Gustavo
2023-02-06 20:40:24,027 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,028 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1004', 'Laura', 'Feminino', '1960-04-08')
2023-02-06 20:40:24,029 INFO sqlalchemy.engine.Engine [generated in 0.00236s] ()
2023-02-06 20:40:24,031 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Laura
2023-02-06 20:40:24,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,031 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1152', 'João Victor', 'Masculino', '1975-03-15')
2023-02-06 20:40:24,031 INFO sqlalchemy.engine.Engine [generated in 0.00200s] ()
2023-02-06 20:40:24,031 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: João Victor
2023-02-06 20:40:24,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,043 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1158', 'Levi', 'Masculino', '1999-05-12')
2023-02-06 20:40:24,044 INFO sqlalchemy.engine.Engine [generated in 0.00274s] ()
2023-02-06 20:40:24,046 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Levi
2023-02-06 20:40:24,048 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,048 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1012', 'Lívia', 'Feminino', '1998-01-02')
2023-02-06 20:40:24,048 INFO sqlalchemy.engine.Engine [generated in 0.00205s] ()
2023-02-06 20:40:24,048 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lívia
2023-02-06 20:40:24,048 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,059 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1041', 'Maitê', 'Feminino', '1965-12-01')
2023-02-06 20:40:24,059 INFO sqlalchemy.engine.Engine [generated in 0.00219s] ()
2023-02-06 20:40:24,061 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maitê
2023-02-06 20:40:24,063 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,065 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1080', 'Carolina', 'Feminino', '1985-04-28')
2023-02-06 20:40:24,065 INFO sqlalchemy.engine.Engine [generated in 0.00296s] ()
2023-02-06 20:40:24,065 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Carolina
2023-02-06 20:40:24,065 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,065 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1173', 'Raul', 'Masculino', '1970-09-16')
2023-02-06 20:40:24,065 INFO sqlalchemy.engine.Engine [generated in 0.00159s] ()
2023-02-06 20:40:24,065 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Raul
2023-02-06 20:40:24,078 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,079 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1001', 'Sophia', 'Feminino', '1951-04-14')
2023-02-06 20:40:24,080 INFO sqlalchemy.engine.Engine [generated in 0.00160s] ()
2023-02-06 20:40:24,082 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Sophia
2023-02-06 20:40:24,088 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,090 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1099', 'Bruna', 'Feminino', '1970-12-27')
2023-02-06 20:40:24,092 INFO sqlalchemy.engine.Engine [generated in 0.00355s] ()
2023-02-06 20:40:24,093 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Bruna
2023-02-06 20:40:24,096 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,097 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1190', 'Tomás', 'Masculino', '1951-08-15')

2023-02-06 20:40:24,099 INFO sqlalchemy.engine.Engine [generated in 0.00243s] ()
2023-02-06 20:40:24,100 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Tomás
2023-02-06 20:40:24,100 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,100 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1055', 'Olívia', 'Feminino', '1980-11-16')
2023-02-06 20:40:24,100 INFO sqlalchemy.engine.Engine [generated in 0.00203s] ()
2023-02-06 20:40:24,109 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Olívia
2023-02-06 20:40:24,112 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,113 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1095', 'Joana', 'Feminino', '1999-09-28')
2023-02-06 20:40:24,114 INFO sqlalchemy.engine.Engine [generated in 0.00177s] ()
2023-02-06 20:40:24,116 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Joana
2023-02-06 20:40:24,117 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,117 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1003', 'Valentina', 'Feminino', '1952-10-14')
2023-02-06 20:40:24,117 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ()
2023-02-06 20:40:24,117 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Valentina
2023-02-06 20:40:24,126 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,127 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1056', 'Maria Fernanda', 'Feminino', '1996-04-02')
2023-02-06 20:40:24,128 INFO sqlalchemy.engine.Engine [generated in 0.00212s] ()
2023-02-06 20:40:24,129 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Fernanda
2023-02-06 20:40:24,132 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,133 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1064', 'Maria Flor', 'Feminino', '1969-10-02')
2023-02-06 20:40:24,133 INFO sqlalchemy.engine.Engine [generated in 0.00346s] ()
2023-02-06 20:40:24,133 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Flor
2023-02-06 20:40:24,133 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,133 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1068', 'Pietra', 'Feminino', '1950-06-11')
2023-02-06 20:40:24,142 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()
2023-02-06 20:40:24,143 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Pietra
2023-02-06 20:40:24,146 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,147 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1136', 'João Lucas', 'Masculino', '1999-03-20')
2023-02-06 20:40:24,148 INFO sqlalchemy.engine.Engine [generated in 0.00287s] ()
2023-02-06 20:40:24,148 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: João Lucas
2023-02-06 20:40:24,148 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,148 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1034', 'Elisa', 'Feminino', '1995-04-06')
2023-02-06 20:40:24,148 INFO sqlalchemy.engine.Engine [generated in 0.00212s] ()
2023-02-06 20:40:24,148 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Elisa
2023-02-06 20:40:24,161 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,162 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1054', 'Vitória', 'Feminino', '1976-10-11')
2023-02-06 20:40:24,163 INFO sqlalchemy.engine.Engine [generated in 0.00264s] ()
2023-02-06 20:40:24,163 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Vitória
2023-02-06 20:40:24,163 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,163 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1069', 'Maria Vitória', 'Feminino', '1998-04-03')
2023-02-06 20:40:24,163 INFO sqlalchemy.engine.Engine [generated in 0.00188s] ()
2023-02-06 20:40:24,163 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Vitória
2023-02-06 20:40:24,175 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,176 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1081', 'Maria Laura', 'Feminino', '1993-06-11')
2023-02-06 20:40:24,177 INFO sqlalchemy.engine.Engine [generated in 0.00214s] ()
2023-02-06 20:40:24,178 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Laura
2023-02-06 20:40:24,181 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,181 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1196', 'Anthony Gabriel', 'Masculino', '1955-10-05')
2023-02-06 20:40:24,181 INFO sqlalchemy.engine.Engine [generated in 0.00248s] ()
2023-02-06 20:40:24,181 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Anthony Gabriel
2023-02-06 20:40:24,181 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,181 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1022', 'Mariana', 'Feminino', '1953-12-27')
2023-02-06 20:40:24,181 INFO sqlalchemy.engine.Engine [generated in 0.00166s] ()
2023-02-06 20:40:24,181 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Mariana
2023-02-06 20:40:24,194 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,195 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1088', 'Aurora', 'Feminino', '1997-04-07')
2023-02-06 20:40:24,196 INFO sqlalchemy.engine.Engine [generated in 0.00195s] ()
2023-02-06 20:40:24,197 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Aurora
2023-02-06 20:40:24,197 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,197 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1135', 'Eduardo', 'Masculino', '1973-11-21')
2023-02-06 20:40:24,197 INFO sqlalchemy.engine.Engine [generated in 0.00180s] ()
2023-02-06 20:40:24,197 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Eduardo
2023-02-06 20:40:24,197 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,210 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1008', 'Heloísa', 'Feminino', '1998-04-22')
2023-02-06 20:40:24,211 INFO sqlalchemy.engine.Engine [generated in 0.00241s] ()
2023-02-06 20:40:24,212 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Heloísa
2023-02-06 20:40:24,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,217 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1109', 'Enzo', 'Masculino', '1973-10-31')
2023-02-06 20:40:24,217 INFO sqlalchemy.engine.Engine [generated in 0.00316s] ()
2023-02-06 20:40:24,217 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Enzo
2023-02-06 20:40:24,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,217 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1176', 'Luan', 'Masculino', '1995-04-02')
2023-02-06 20:40:24,217 INFO sqlalchemy.engine.Engine [generated in 0.00198s] ()
2023-02-06 20:40:24,226 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luan
2023-02-06 20:40:24,229 INFO sqlalchemy.engine.Engine BEGIN (implicit)

2023-02-06 20:40:24,230 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1180', 'Rodrigo', 'Masculino', '1961-07-13')
2023-02-06 20:40:24,231 INFO sqlalchemy.engine.Engine [generated in 0.00176s] ()
2023-02-06 20:40:24,233 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Rodrigo
2023-02-06 20:40:24,235 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,235 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1025', 'Ana Luiza', 'Feminino', '1969-07-05')
2023-02-06 20:40:24,235 INFO sqlalchemy.engine.Engine [generated in 0.00305s] ()
2023-02-06 20:40:24,242 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Luiza
2023-02-06 20:40:24,244 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,245 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1110', 'Matheus', 'Masculino', '1964-04-23')
2023-02-06 20:40:24,246 INFO sqlalchemy.engine.Engine [generated in 0.00159s] ()
2023-02-06 20:40:24,247 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Matheus
2023-02-06 20:40:24,251 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,252 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1084', 'Fernanda', 'Feminino', '1951-03-28')
2023-02-06 20:40:24,253 INFO sqlalchemy.engine.Engine [generated in 0.00229s] ()
2023-02-06 20:40:24,255 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Fernanda
2023-02-06 20:40:24,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,259 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1083', 'Maria Sophia', 'Feminino', '1956-11-26')
2023-02-06 20:40:24,260 INFO sqlalchemy.engine.Engine [generated in 0.00250s] ()
2023-02-06 20:40:24,261 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Sophia
2023-02-06 20:40:24,264 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,265 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1168', 'Arthur Miguel', 'Masculino', '1960-08-21')
2023-02-06 20:40:24,266 INFO sqlalchemy.engine.Engine [generated in 0.00188s] ()
2023-02-06 20:40:24,267 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Arthur Miguel
2023-02-06 20:40:24,267 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,267 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1007', 'Júlia', 'Feminino', '1992-12-27')
2023-02-06 20:40:24,275 INFO sqlalchemy.engine.Engine [generated in 0.00213s] ()
2023-02-06 20:40:24,277 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Júlia
2023-02-06 20:40:24,279 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,280 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1035', 'Antonella', 'Feminino', '1985-07-08')
2023-02-06 20:40:24,281 INFO sqlalchemy.engine.Engine [generated in 0.00159s] ()
2023-02-06 20:40:24,283 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Antonella
2023-02-06 20:40:24,285 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,285 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1036', 'Rafaela', 'Feminino', '1981-02-28')
2023-02-06 20:40:24,285 INFO sqlalchemy.engine.Engine [generated in 0.00207s] ()
2023-02-06 20:40:24,285 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Rafaela
2023-02-06 20:40:24,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,295 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1015', 'Beatriz', 'Feminino', '1994-09-21')
2023-02-06 20:40:24,296 INFO sqlalchemy.engine.Engine [generated in 0.00220s] ()
2023-02-06 20:40:24,297 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Beatriz
2023-02-06 20:40:24,297 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,297 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1023', 'Emanuelly', 'Feminino', '1964-12-28')
2023-02-06 20:40:24,297 INFO sqlalchemy.engine.Engine [generated in 0.00168s] ()
2023-02-06 20:40:24,297 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Emanuelly
2023-02-06 20:40:24,309 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,310 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1090', 'Louise', 'Feminino', '1991-04-18')
2023-02-06 20:40:24,311 INFO sqlalchemy.engine.Engine [generated in 0.00175s] ()
2023-02-06 20:40:24,312 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Louise
2023-02-06 20:40:24,315 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,315 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1130', 'Daniel', 'Masculino', '1963-10-27')
2023-02-06 20:40:24,315 INFO sqlalchemy.engine.Engine [generated in 0.00395s] ()
2023-02-06 20:40:24,315 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Daniel
2023-02-06 20:40:24,315 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,315 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1177', 'Erick', 'Masculino', '1961-01-05')
2023-02-06 20:40:24,315 INFO sqlalchemy.engine.Engine [generated in 0.00181s] ()
2023-02-06 20:40:24,325 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Erick
2023-02-06 20:40:24,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,329 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1197', 'Ruan', 'Masculino', '1960-03-09')
2023-02-06 20:40:24,331 INFO sqlalchemy.engine.Engine [generated in 0.00260s] ()
2023-02-06 20:40:24,331 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ruan
2023-02-06 20:40:24,331 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,331 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1044', 'Luna', 'Feminino', '1952-10-20')
2023-02-06 20:40:24,331 INFO sqlalchemy.engine.Engine [generated in 0.00245s] ()
2023-02-06 20:40:24,331 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Luna
2023-02-06 20:40:24,343 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,344 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1078', 'Gabrielly', 'Feminino', '1953-12-17')
2023-02-06 20:40:24,345 INFO sqlalchemy.engine.Engine [generated in 0.00168s] ()
2023-02-06 20:40:24,346 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Gabrielly
2023-02-06 20:40:24,350 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,350 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1171', 'Pedro Lucas', 'Masculino', '1991-06-04')
2023-02-06 20:40:24,350 INFO sqlalchemy.engine.Engine [generated in 0.00189s] ()
2023-02-06 20:40:24,350 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Pedro Lucas
2023-02-06 20:40:24,350 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,359 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1126', 'Felipe', 'Masculino', '1986-05-20')
2023-02-06 20:40:24,360 INFO sqlalchemy.engine.Engine [generated in 0.00205s] ()

2023-02-06 20:40:24,361 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Felipe
2023-02-06 20:40:24,364 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,365 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1106', 'Théo', 'Masculino', '1976-05-08')
2023-02-06 20:40:24,366 INFO sqlalchemy.engine.Engine [generated in 0.00274s] ()
2023-02-06 20:40:24,366 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Théo
2023-02-06 20:40:24,366 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,366 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1131', 'Anthony', 'Masculino', '1971-12-04')
2023-02-06 20:40:24,366 INFO sqlalchemy.engine.Engine [generated in 0.00239s] ()
2023-02-06 20:40:24,376 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Anthony
2023-02-06 20:40:24,379 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,380 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1033', 'Sarah', 'Feminino', '1989-01-27')
2023-02-06 20:40:24,380 INFO sqlalchemy.engine.Engine [generated in 0.00162s] ()
2023-02-06 20:40:24,382 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Sarah
2023-02-06 20:40:24,382 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,382 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1073', 'Ana Lívia', 'Feminino', '1958-08-28')
2023-02-06 20:40:24,382 INFO sqlalchemy.engine.Engine [generated in 0.00219s] ()
2023-02-06 20:40:24,382 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Lívia
2023-02-06 20:40:24,394 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,395 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1074', 'Eduarda', 'Feminino', '1989-05-25')
2023-02-06 20:40:24,396 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ()
2023-02-06 20:40:24,397 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Eduarda
2023-02-06 20:40:24,399 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,399 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1093', 'Ana Cecília', 'Feminino', '1970-06-19')
2023-02-06 20:40:24,399 INFO sqlalchemy.engine.Engine [generated in 0.00231s] ()
2023-02-06 20:40:24,399 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Cecília
2023-02-06 20:40:24,399 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,409 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1108', 'Gabriel', 'Masculino', '1993-07-04')
2023-02-06 20:40:24,410 INFO sqlalchemy.engine.Engine [generated in 0.00218s] ()
2023-02-06 20:40:24,412 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Gabriel
2023-02-06 20:40:24,414 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,415 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1006', 'Manuela', 'Feminino', '1981-02-21')
2023-02-06 20:40:24,416 INFO sqlalchemy.engine.Engine [generated in 0.00171s] ()
2023-02-06 20:40:24,417 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Manuela
2023-02-06 20:40:24,419 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,419 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1026', 'Ana Clara', 'Feminino', '1961-12-21')
2023-02-06 20:40:24,419 INFO sqlalchemy.engine.Engine [generated in 0.00203s] ()
2023-02-06 20:40:24,419 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Clara
2023-02-06 20:40:24,427 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,428 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1199', 'Oliver', 'Masculino', '1975-09-23')
2023-02-06 20:40:24,430 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()
2023-02-06 20:40:24,430 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Oliver
2023-02-06 20:40:24,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,430 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1079', 'Sophie', 'Feminino', '1991-10-22')
2023-02-06 20:40:24,430 INFO sqlalchemy.engine.Engine [generated in 0.00186s] ()
2023-02-06 20:40:24,430 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Sophie
2023-02-06 20:40:24,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,443 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1038', 'Liz', 'Feminino', '1997-05-12')
2023-02-06 20:40:24,443 INFO sqlalchemy.engine.Engine [generated in 0.00221s] ()
2023-02-06 20:40:24,445 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Liz
2023-02-06 20:40:24,448 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,449 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1098', 'Isabel', 'Feminino', '1986-07-06')
2023-02-06 20:40:24,449 INFO sqlalchemy.engine.Engine [generated in 0.00338s] ()
2023-02-06 20:40:24,449 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Isabel
2023-02-06 20:40:24,449 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,459 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1102', 'Bernardo', 'Masculino', '1961-04-25')
2023-02-06 20:40:24,459 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()
2023-02-06 20:40:24,461 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Bernardo
2023-02-06 20:40:24,464 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,466 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1010', 'Maria Luiza', 'Feminino', '1961-04-10')
2023-02-06 20:40:24,467 INFO sqlalchemy.engine.Engine [generated in 0.00327s] ()
2023-02-06 20:40:24,470 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Luiza
2023-02-06 20:40:24,473 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,474 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1045', 'Rebeca', 'Feminino', '1992-01-28')
2023-02-06 20:40:24,475 INFO sqlalchemy.engine.Engine [generated in 0.00232s] ()
2023-02-06 20:40:24,477 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Rebeca
2023-02-06 20:40:24,480 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,481 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1014', 'Maria Eduarda', 'Feminino', '1975-09-16')
2023-02-06 20:40:24,481 INFO sqlalchemy.engine.Engine [generated in 0.00385s] ()
2023-02-06 20:40:24,481 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Eduarda
2023-02-06 20:40:24,481 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,481 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1151', 'João Gabriel', 'Masculino', '1997-11-28')
2023-02-06 20:40:24,481 INFO sqlalchemy.engine.Engine [generated in 0.00175s] ()
2023-02-06 20:40:24,492 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: João Gabriel
2023-02-06 20:40:24,495 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,496 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1065', 'Allana', 'Feminino', '1991-10-23')

2023-02-06 20:40:24,496 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ()
2023-02-06 20:40:24,498 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Allana
2023-02-06 20:40:24,498 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,498 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1154', 'Francisco', 'Masculino', '1981-01-24')
2023-02-06 20:40:24,498 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ()
2023-02-06 20:40:24,498 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Francisco
2023-02-06 20:40:24,498 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,508 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1142', 'Caleb', 'Masculino', '1999-03-01')
2023-02-06 20:40:24,509 INFO sqlalchemy.engine.Engine [generated in 0.00176s] ()
2023-02-06 20:40:24,510 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Caleb
2023-02-06 20:40:24,513 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,514 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1116', 'Joaquim', 'Masculino', '1966-02-08')
2023-02-06 20:40:24,516 INFO sqlalchemy.engine.Engine [generated in 0.00241s] ()
2023-02-06 20:40:24,516 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Joaquim
2023-02-06 20:40:24,516 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,516 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1133', 'Davi Lucca', 'Masculino', '1998-05-12')
2023-02-06 20:40:24,516 INFO sqlalchemy.engine.Engine [generated in 0.00183s] ()
2023-02-06 20:40:24,525 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Davi Lucca
2023-02-06 20:40:24,527 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,528 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1179', 'Bruno', 'Masculino', '1953-05-26')
2023-02-06 20:40:24,529 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ()
2023-02-06 20:40:24,531 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Bruno
2023-02-06 20:40:24,533 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,533 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1114', 'Guilherme', 'Masculino', '1999-07-03')
2023-02-06 20:40:24,533 INFO sqlalchemy.engine.Engine [generated in 0.00233s] ()
2023-02-06 20:40:24,533 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Guilherme
2023-02-06 20:40:24,533 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,542 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1077', 'Ana', 'Feminino', '1999-02-04')
2023-02-06 20:40:24,543 INFO sqlalchemy.engine.Engine [generated in 0.00180s] ()
2023-02-06 20:40:24,545 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana
2023-02-06 20:40:24,546 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,546 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1125', 'Lucca', 'Masculino', '1978-12-25')
2023-02-06 20:40:24,546 INFO sqlalchemy.engine.Engine [generated in 0.00164s] ()
2023-02-06 20:40:24,546 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lucca
2023-02-06 20:40:24,546 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,546 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1059', 'Milena', 'Feminino', '1999-11-15')
2023-02-06 20:40:24,546 INFO sqlalchemy.engine.Engine [generated in 0.00233s] ()
2023-02-06 20:40:24,558 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Milena
2023-02-06 20:40:24,561 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,563 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1186', 'Fernando', 'Masculino', '1962-02-06')
2023-02-06 20:40:24,563 INFO sqlalchemy.engine.Engine [generated in 0.00352s] ()
2023-02-06 20:40:24,563 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Fernando
2023-02-06 20:40:24,563 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,563 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1189', 'Carlos Eduardo', 'Masculino', '1950-05-26')
2023-02-06 20:40:24,563 INFO sqlalchemy.engine.Engine [generated in 0.00186s] ()
2023-02-06 20:40:24,563 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Carlos Eduardo
2023-02-06 20:40:24,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,576 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1165', 'Henry', 'Masculino', '1975-08-16')
2023-02-06 20:40:24,577 INFO sqlalchemy.engine.Engine [generated in 0.00163s] ()
2023-02-06 20:40:24,581 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Henry
2023-02-06 20:40:24,581 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,581 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1194', 'Yago', 'Masculino', '1986-04-28')
2023-02-06 20:40:24,581 INFO sqlalchemy.engine.Engine [generated in 0.00189s] ()
2023-02-06 20:40:24,581 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Yago
2023-02-06 20:40:24,581 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,592 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1032', 'Esther', 'Feminino', '1968-09-18')
2023-02-06 20:40:24,593 INFO sqlalchemy.engine.Engine [generated in 0.00209s] ()
2023-02-06 20:40:24,594 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Esther
2023-02-06 20:40:24,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,597 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1039', 'Marina', 'Feminino', '1992-01-13')
2023-02-06 20:40:24,597 INFO sqlalchemy.engine.Engine [generated in 0.00392s] ()
2023-02-06 20:40:24,597 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Marina
2023-02-06 20:40:24,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,597 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1049', 'Gabriela', 'Feminino', '1964-12-05')
2023-02-06 20:40:24,608 INFO sqlalchemy.engine.Engine [generated in 0.00225s] ()
2023-02-06 20:40:24,610 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Gabriela
2023-02-06 20:40:24,613 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,615 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1053', 'Ana Beatriz', 'Feminino', '1993-11-16')
2023-02-06 20:40:24,615 INFO sqlalchemy.engine.Engine [generated in 0.00359s] ()
2023-02-06 20:40:24,615 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ana Beatriz
2023-02-06 20:40:24,615 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,615 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1120', 'Henrique', 'Masculino', '1968-02-24')
2023-02-06 20:40:24,615 INFO sqlalchemy.engine.Engine [generated in 0.00207s] ()
2023-02-06 20:40:24,626 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Henrique
2023-02-06 20:40:24,628 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,630 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1145', 'Caio', 'Masculino', '1968-12-31')

2023-02-06 20:40:24,631 INFO sqlalchemy.engine.Engine [generated in 0.00235s] ()
2023-02-06 20:40:24,632 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Caio
2023-02-06 20:40:24,632 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,632 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1159', 'Yuri', 'Masculino', '1950-12-18')
2023-02-06 20:40:24,632 INFO sqlalchemy.engine.Engine [generated in 0.00180s] ()
2023-02-06 20:40:24,632 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Yuri
2023-02-06 20:40:24,643 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,644 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1183', 'Breno', 'Masculino', '1982-02-28')
2023-02-06 20:40:24,644 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()
2023-02-06 20:40:24,646 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Breno
2023-02-06 20:40:24,648 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,649 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1017', 'Cecília', 'Feminino', '1987-05-14')
2023-02-06 20:40:24,649 INFO sqlalchemy.engine.Engine [generated in 0.00439s] ()
2023-02-06 20:40:24,649 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Cecília
2023-02-06 20:40:24,649 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,658 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1124', 'Pietro', 'Masculino', '1991-12-24')
2023-02-06 20:40:24,659 INFO sqlalchemy.engine.Engine [generated in 0.00227s] ()
2023-02-06 20:40:24,661 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Pietro
2023-02-06 20:40:24,663 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,665 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1002', 'Helena', 'Feminino', '1993-07-29')
2023-02-06 20:40:24,666 INFO sqlalchemy.engine.Engine [generated in 0.00242s] ()
2023-02-06 20:40:24,666 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Helena
2023-02-06 20:40:24,666 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,666 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1037', 'Maria Cecília', 'Feminino', '1972-03-09')
2023-02-06 20:40:24,666 INFO sqlalchemy.engine.Engine [generated in 0.00174s] ()
2023-02-06 20:40:24,676 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Cecília
2023-02-06 20:40:24,679 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,680 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1149', 'Davi Lucas', 'Masculino', '1963-08-07')
2023-02-06 20:40:24,681 INFO sqlalchemy.engine.Engine [generated in 0.00211s] ()
2023-02-06 20:40:24,683 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Davi Lucas
2023-02-06 20:40:24,684 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,684 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1167', 'Ryan', 'Masculino', '1996-10-21')
2023-02-06 20:40:24,684 INFO sqlalchemy.engine.Engine [generated in 0.00189s] ()
2023-02-06 20:40:24,692 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ryan
2023-02-06 20:40:24,694 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,696 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1100', 'Miguel', 'Masculino', '1986-08-29')
2023-02-06 20:40:24,696 INFO sqlalchemy.engine.Engine [generated in 0.00332s] ()
2023-02-06 20:40:24,696 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Miguel
2023-02-06 20:40:24,696 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,696 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1031', 'Lavínia', 'Feminino', '1987-04-19')
2023-02-06 20:40:24,696 INFO sqlalchemy.engine.Engine [generated in 0.00167s] ()
2023-02-06 20:40:24,696 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lavínia
2023-02-06 20:40:24,709 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,710 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1043', 'Alícia', 'Feminino', '1965-07-05')
2023-02-06 20:40:24,711 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ()
2023-02-06 20:40:24,712 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Alícia
2023-02-06 20:40:24,714 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:24,714 INFO sqlalchemy.engine.Engine  INSERT INTO pessoa (cod_pessoa, nome, genero, data_nascimento)
                VALUES ('1082', 'Maria Heloísa', 'Feminino', '1954-10-21')
2023-02-06 20:40:24,714 INFO sqlalchemy.engine.Engine [generated in 0.00221s] ()
2023-02-06 20:40:24,714 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Maria Heloísa

In [18]:
for fabricante in fabricantes:
    try:
        query = f"""INSERT INTO fabricante (nome_fabricante) VALUES ('{fabricante}')"""
        
        conn.execute(text(query))
        conn.commit()
        
        print(f"Registro incluído com sucesso: {fabricante}")
    except Exception as e:
        print(f"Não foi possível inserir o registro: {fabricante}. O erro foi: {e}")

2023-02-06 20:40:49,461 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:49,463 INFO sqlalchemy.engine.Engine INSERT INTO fabricante (nome_fabricante) VALUES ('Fiat')
2023-02-06 20:40:49,464 INFO sqlalchemy.engine.Engine [generated in 0.00333s] ()
2023-02-06 20:40:49,467 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Fiat
2023-02-06 20:40:49,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:49,472 INFO sqlalchemy.engine.Engine INSERT INTO fabricante (nome_fabricante) VALUES ('Volkswagen')
2023-02-06 20:40:49,474 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ()
2023-02-06 20:40:49,474 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Volkswagen
2023-02-06 20:40:49,479 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:49,479 INFO sqlalchemy.engine.Engine INSERT INTO fabricante (nome_fabricante) VALUES ('Lifan')
2023-02-06 20:40:49,480 INFO sqlalchemy.engine.Engine [generated in 0.00240s] ()
2023-02-06 20:40:49,483 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Lifan
2023-02-06 20:40:49,487 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:49,489 INFO sqlalchemy.engine.Engine INSERT INTO fabricante (nome_fabricante) VALUES ('Ford')
2023-02-06 20:40:49,489 INFO sqlalchemy.engine.Engine [generated in 0.00347s] ()
2023-02-06 20:40:49,489 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Ford
2023-02-06 20:40:49,489 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:49,489 INFO sqlalchemy.engine.Engine INSERT INTO fabricante (nome_fabricante) VALUES ('Hyndai')
2023-02-06 20:40:49,502 INFO sqlalchemy.engine.Engine [generated in 0.00324s] ()
2023-02-06 20:40:49,503 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Hyndai
2023-02-06 20:40:49,503 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:40:49,503 INFO sqlalchemy.engine.Engine INSERT INTO fabricante (nome_fabricante) VALUES ('Renault')
2023-02-06 20:40:49,503 INFO sqlalchemy.engine.Engine [generated in 0.00256s] ()
2023-02-06 20:40:49,503 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído com sucesso: Renault

In [30]:
df_fabricante = pd.read_sql('fabricante', con=conn)

2023-02-06 20:46:34,749 INFO sqlalchemy.engine.Engine DESCRIBE `coletaigti`.`fabricante`
2023-02-06 20:46:34,751 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-06 20:46:34,756 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `coletaigti`
2023-02-06 20:46:34,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-06 20:46:34,760 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `fabricante`
2023-02-06 20:46:34,761 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-06 20:46:34,766 INFO sqlalchemy.engine.Engine SELECT fabricante.cod_fabricante, fabricante.nome_fabricante
FROM fabricante
2023-02-06 20:46:34,767 INFO sqlalchemy.engine.Engine [generated in 0.00137s] ()

In [37]:
df_fabricante

   cod_fabricante nome_fabricante
0               1            Fiat
1               4            Ford
2               5          Hyndai
3               3           Lifan
4               6         Renault
5               2      Volkswagen

In [40]:
dict_fabricante = df_fabricante.set_index(df_fabricante.nome_fabricante)['cod_fabricante'].to_dict()
dict_fabricante

{'Fiat': 1, 'Ford': 4, 'Hyndai': 5, 'Lifan': 3, 'Renault': 6, 'Volkswagen': 2}

In [41]:
df_modelos = df_modelos.rename(columns={'cod_fabricante': 'fabricante'})
df_modelos

                      modelo  fabricante
0         Uno Attractive 1.0        Fiat
0              Mobi Easy 1.5        Fiat
1            Fox Connect 1.6  Volkswagen
3             530 Talent 1.5       Lifan
0                   Ka S 1.0        Ford
0     Hyundai HB20 1.0 Sense      Hyndai
2                    Gol 1.0  Volkswagen
4  Grand Siena Attractive 1.        Fiat
0              Kwid Life 1.0     Renault
0                   Argo 1.0        Fiat

In [43]:

df_modelos.fabricante = df_modelos.fabricante.map(dict_fabricante)
df_modelos

                      modelo  fabricante
0         Uno Attractive 1.0           1
0              Mobi Easy 1.5           1
1            Fox Connect 1.6           2
3             530 Talent 1.5           3
0                   Ka S 1.0           4
0     Hyundai HB20 1.0 Sense           5
2                    Gol 1.0           2
4  Grand Siena Attractive 1.           1
0              Kwid Life 1.0           6
0                   Argo 1.0           1

In [44]:
df_modelos = df_modelos.rename(columns={'fabricante': 'cod_fabricante'})
df_modelos

                      modelo  cod_fabricante
0         Uno Attractive 1.0               1
0              Mobi Easy 1.5               1
1            Fox Connect 1.6               2
3             530 Talent 1.5               3
0                   Ka S 1.0               4
0     Hyundai HB20 1.0 Sense               5
2                    Gol 1.0               2
4  Grand Siena Attractive 1.               1
0              Kwid Life 1.0               6
0                   Argo 1.0               1

In [45]:
for modelo in df_modelos.itertuples():
    nome_modelo = modelo.modelo
    cod_fabricante =  modelo.cod_fabricante
    try:
        query = f"""INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES ('{nome_modelo}', '{cod_fabricante}')"""
        
        conn.execute(text(query))
        conn.commit()
        print(f'Registro incluído no base: {nome_modelo}')
    except Exception as e:
              print(f'Deu merda: {nome_modelo}. Erro: {e}')

2023-02-06 20:50:04,714 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES (' Uno Attractive 1.0', '1')
2023-02-06 20:50:04,716 INFO sqlalchemy.engine.Engine [generated in 0.00231s] ()
2023-02-06 20:50:04,720 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base:  Uno Attractive 1.0
2023-02-06 20:50:04,723 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,724 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES ('Mobi Easy 1.5', '1')
2023-02-06 20:50:04,726 INFO sqlalchemy.engine.Engine [generated in 0.00242s] ()
2023-02-06 20:50:04,728 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base: Mobi Easy 1.5
2023-02-06 20:50:04,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,734 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES (' Fox Connect 1.6', '2')
2023-02-06 20:50:04,736 INFO sqlalchemy.engine.Engine [generated in 0.00377s] ()
2023-02-06 20:50:04,738 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base:  Fox Connect 1.6
2023-02-06 20:50:04,743 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,744 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES ('530 Talent 1.5', '3')
2023-02-06 20:50:04,745 INFO sqlalchemy.engine.Engine [generated in 0.00211s] ()
2023-02-06 20:50:04,748 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base: 530 Talent 1.5
2023-02-06 20:50:04,752 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,753 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES ('Ka S 1.0', '4')
2023-02-06 20:50:04,754 INFO sqlalchemy.engine.Engine [generated in 0.00222s] ()
2023-02-06 20:50:04,756 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base: Ka S 1.0
2023-02-06 20:50:04,760 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,761 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES ('Hyundai HB20 1.0 Sense', '5')
2023-02-06 20:50:04,763 INFO sqlalchemy.engine.Engine [generated in 0.00285s] ()
2023-02-06 20:50:04,764 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base: Hyundai HB20 1.0 Sense
2023-02-06 20:50:04,768 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,769 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES (' Gol 1.0', '2')
2023-02-06 20:50:04,770 INFO sqlalchemy.engine.Engine [generated in 0.00216s] ()
2023-02-06 20:50:04,771 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base:  Gol 1.0
2023-02-06 20:50:04,776 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,777 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES ('Grand Siena Attractive 1.', '1')
2023-02-06 20:50:04,778 INFO sqlalchemy.engine.Engine [generated in 0.00235s] ()
2023-02-06 20:50:04,781 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base: Grand Siena Attractive 1.
2023-02-06 20:50:04,784 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,785 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES ('Kwid Life 1.0', '6')
2023-02-06 20:50:04,786 INFO sqlalchemy.engine.Engine [generated in 0.00228s] ()
2023-02-06 20:50:04,788 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base: Kwid Life 1.0
2023-02-06 20:50:04,793 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-06 20:50:04,794 INFO sqlalchemy.engine.Engine INSERT INTO modelo_veiculo (descricao_modelo, cod_fabricante) VALUES ('Argo 1.0', '1')
2023-02-06 20:50:04,795 INFO sqlalchemy.engine.Engine [generated in 0.00233s] ()
2023-02-06 20:50:04,797 INFO sqlalchemy.engine.Engine COMMIT
Registro incluído no base: Argo 1.0

<h3>Criando uma tabela Staging no banco de dados</h3>
<p> Um outra forma de popular dados no banco de dados é através da criação de uma tabela temporária. Uma tabela Staging é uma área intermediária utilizada para preparar os dados para serem usados em um ambiente de análise. 
    <p> desse modo, ciramos uma cópia da tabela com os dados coletados e perisistimos no banco sem nenhum tratamento.

In [63]:
# cria uma tabela no banco SQL com o nome
df_vendas.to_sql('stg_vendas', con=conn, schema='coletaigti')
conn.commit()

2023-02-06 21:27:50,794 INFO sqlalchemy.engine.Engine DESCRIBE `coletaigti`.`stg_vendas`
2023-02-06 21:27:50,796 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-06 21:27:50,801 INFO sqlalchemy.engine.Engine
CREATE TABLE coletaigti.stg_vendas (
	`index` BIGINT,
	cod_pessoa BIGINT,
	nome TEXT,
	genero TEXT,
	data_nascimento TEXT,
	data_compra TEXT,
	fabricante TEXT,
	modelo TEXT,
	valor BIGINT
)


2023-02-06 21:27:50,803 INFO sqlalchemy.engine.Engine [no key 0.00172s] ()
2023-02-06 21:27:50,828 INFO sqlalchemy.engine.Engine CREATE INDEX ix_coletaigti_stg_vendas_index ON coletaigti.stg_vendas (`index`)
2023-02-06 21:27:50,829 INFO sqlalchemy.engine.Engine [no key 0.00110s] ()
2023-02-06 21:27:50,852 INFO sqlalchemy.engine.Engine INSERT INTO coletaigti.stg_vendas (`index`, cod_pessoa, nome, genero, data_nascimento, data_compra, fabricante, modelo, valor) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-02-06 21:27:50,854 INFO sqlalchemy.engine.Engine [generated in 0.00225s] [(0, 1016, 'Maria Clara', 'Feminino', '1986-11-21', '2020-01-12', 'Fiat', ' Uno Attractive 1.0', 50004), (0, 1061, 'Bianca', 'Feminino', '1989-02-21', '2020-02-11', 'Fiat', 'Mobi Easy 1.5', 40449), (1, 1086, 'Analu', 'Feminino', '1977-08-05', '2020-02-11', 'Volkswagen', ' Fox Connect 1.6', 57640), (2, 1117, 'Samuel', 'Masculino', '1989-11-22', '2020-02-11', 'Fiat', ' Uno Attractive 1.0', 50004), (3, 1139, 'Cauã', 'Masculino', '1961-09-14', '2020-02-11', 'Lifan', '530 Talent 1.5', 43990), (0, 1118, 'Enzo Gabriel', 'Masculino', '1984-02-15', '2020-02-12', 'Ford', 'Ka S 1.0', 51990), (0, 1048, 'Maria-', 'Feminino', '1992-09-18', '2020-03-11', 'Hyndai', 'Hyundai HB20 1.0 Sense', 49590), (1, 1050, 'Ana Laura', 'Feminino', '1997-10-15', '2020-03-11', 'Hyndai', 'Hyundai HB20 1.0 Sense', 49590)  ... displaying 10 of 200 total bound parameter sets ...  (1, 1043, 'Alícia', 'Feminino', '1965-07-05', '2021-12-01', 'Volkswagen', ' Gol 1.0', 54150), (2, 1082, 'Maria Heloísa', 'Feminino', '1954-10-21', '2021-12-01', 'Fiat', 'Mobi Easy 1.5', 40449)]
2023-02-06 21:27:50,866 INFO sqlalchemy.engine.Engine COMMIT